<p class="text-center" *ngIf="!manifest"><em>Loading...</em></p>

<div *ngIf="manifest">
  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Select a Rover</mat-label>
        <mat-select [(value)]="selectedRover" (selectionChange)="getManifest()">
          <mat-option
            *ngFor="let rover of rovers"
            [value]="rover.value"
            selected
          >
            {{ rover.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Select a Camera</mat-label>
        <mat-select
          [(value)]="selectedCamera"
          (selectionChange)="getPictures('camera')"
        >
          <mat-option *ngFor="let camera of cameras" [value]="camera.value">
            {{ camera.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Earth Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="selectedEarthDate"
          [min]="manifest.landing_date"
          [max]="maxEarthDate"
          (dateChange)="getPictures('earthDate')"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Martian Sol</mat-label>
        <input
          matInput
          [(ngModel)]="selectedSol"
          type="number"
          min="0"
          max="manifest.max_sol"
          (keyup)="getPictures()"
        />
        <mat-hint>From 0 to {{ manifest.max_sol }}</mat-hint>
      </mat-form-field>
    </div>

    <mat-radio-group class="mb-3" [(ngModel)]="searchBy">
      <mat-radio-button value="earthDate"
        >Search by Earth Date</mat-radio-button
      >
      <mat-radio-button value="sol"
        >Search by Sol (martian rotation or day)</mat-radio-button
      >
    </mat-radio-group>

    <mat-paginator
      [length]="totalPhotos"
      [pageSize]="25"
      [pageSizeOptions]="[25]"
      (page)="changePage($event)"
    >
    </mat-paginator>

    <p class="text-center" *ngIf="!photos"><em>Loading pictures...</em></p>

    <div
      class="alert alert-info text-center"
      role="alert"
      *ngIf="photos?.length === 0"
    >
      <em>Sorry no photos have been received for this day.</em>
    </div>

    <mat-grid-list cols="2" rowHeight="2:1">
      <ng-container *ngFor="let photo of photos">
        <mat-grid-tile>
          <a href="{{ photo.img_src }}" target="_blank">
            <img src="{{ photo.img_src }}" style="width: 100%; height: 100%" />
          </a>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </div>
</div>
