/*ESTO ES LO QUE HACE QUE EL FOOTER QUEDE SIEMPRE DEBAJO DEL BODY Y QUE SE VEA TODO BIEN*/
html {
    position: relative;
    min-height: 100%;
}

/*Estos son todos los inputs*/
.mat-form-field {
  width: 100%;
  font-size: 16px;
}
